@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Lato&family=Montserrat:wght@400;700&family=Poppins:wght@700&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 8%;
}

.card {
  color: #fff;
  background-color: #272262ed;
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px #00000060
}

.font{
  font-family: 'Lato';
  color: #fff;
}

.font:nth-child(1){
  color: #dfd8ff;
}

.font:nth-child(1):hover{
  text-decoration: underline;
  transition: all .6s ease;
}

.font:nth-child(3){
  color: #dfd8ff;
}

.font:nth-child(3):hover{
  text-decoration: underline;
  transition: all .6s ease;
}

h1{
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  font-family: 'Montserrat';
}

.label-float input{
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  background-color: #fff;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 10px;
}

.label-float{
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 50%;
}

.label-float input:focus{
  border-bottom: 2px solid #4038a0;
}

.label-float label{
  color: #272262;
  pointer-event: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 16px;
  padding-left: 10px;
  transition: all .3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label{
  font-size: 13px;
  margin-top: -2%;
  color: #ffffff
}

button{
  font-family: 'Poppins';
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

button:hover{
  background-color: #272262;
  color: #fff;
}

.justify-center{
  display: flex;
  justify-content: center;
}

hr{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
}

p{
  color: #272262;
  font-size: 14pt;
  text-align: center;
}

a{
  color: #7a3077;
  font-weight: bold;
  text-decoration: none;
  transition: all .3s ease-out;
}

a:hover{
  color: #272262;
}

.fa-eye{
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #272262;
}

 #msgError{
  text-align: center;
  color: #ff0000;
  background-color: #ffbbbb;
  padding: 10px;
  border-radius: 4px;
  display: none;
}