{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="files/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static '/style/signup.css' %}" />
  <title>Cadastre-se</title>
</head>

<body>
  <div class="container">
    <div class="card">
      <h1>Cadastrar</h1>

      <form method="post">
        <div id="msgError"></div>
        <div id="msgSuccess"></div>

        <div class="label-float">
          <input type="text" id="nome" placeholder=" " required />
          <label id="labelNome" for="nome">Nome</label>
        </div>

        <div class="label-float">
          <input type="text" id="usuario" placeholder=" " required />
          <label id="labelUsuario" for="usuario">E-mail</label>
        </div>

        <div class="label-float">
          <input type="password" id="senha" placeholder=" " required />
          <label id="labelSenha" for="senha">Senha</label>
          <i id="verSenha" class="fa fa-eye" aria-hidden="true"></i>
        </div>

        <div class="label-float">
          <input type="password" id="confirmSenha" placeholder=" " required />
          <label id="labelConfirmSenha" for="confirmSenha">Confirmar Senha</label>
          <i id="verConfirmSenha" class="fa fa-eye" aria-hidden="true"></i>
        </div>

        <h4 style="h4{margin: 0;}">Informe o endereço da academia:</h4>

        <div class="label-float">
          <input name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);"
            placeholder="informe o cep.." />
        </div>

        <div class="label-float">
          <input name="rua" type="text" id="rua" size="60" />
          <label for="rua">Rua:</label>
        </div>

        <div class="label-float">
          <input name="bairro" type="text" id="bairro" size="40" />
          <label for="bairro">Bairro:</label>
        </div>

        <div class="label-float">
          <input name="cidade" type="text" id="cidade" size="40" />
          <label for="cidade">Cidade:</label>
        </div>

        <div class="label-float">
          <input name="uf" type="text" id="uf" size="2" />
          <label for="uf">Estado:</label>
        </div>
      </form>



      <div class="justify-center">
        <button onclick="cadastrar()">Cadastrar</button>
      </div>
      <br>
      <p class="font">
        Já tem conta?
        <a href="./signin.html" class="font">
          Faça Login
        </a>
    </div>
  </div>

  <script src="js/signup.js"></script>
  <script>
    function limpa_formulário_cep() {
      //Limpa valores do formulário de cep.
      document.getElementById('rua').value = ("");
      document.getElementById('bairro').value = ("");
      document.getElementById('cidade').value = ("");
      document.getElementById('uf').value = ("");
    }

    function meu_callback(conteudo) {
      if (!("erro" in conteudo)) {
        //Atualiza os campos com os valores.
        document.getElementById('rua').value = (conteudo.logradouro);
        document.getElementById('bairro').value = (conteudo.bairro);
        document.getElementById('cidade').value = (conteudo.localidade);
        document.getElementById('uf').value = (conteudo.uf);
      }
      else {
        //CEP não Encontrado.
        limpa_formulário_cep();
        alert("CEP não encontrado.");
      }
    }

    function pesquisacep(valor) {

      //Nova variável "cep" somente com dígitos.
      var cep = valor.replace(/\D/g, '');

      //Verifica se campo cep possui valor informado.
      if (cep != "") {

        //Expressão regular para validar o CEP.
        var validacep = /^[0-9]{8}$/;

        //Valida o formato do CEP.
        if (validacep.test(cep)) {

          //Preenche os campos com "..." enquanto consulta webservice.
          document.getElementById('rua').value = "...";
          document.getElementById('bairro').value = "...";
          document.getElementById('cidade').value = "...";
          document.getElementById('uf').value = "...";


          //Cria um elemento javascript.
          var script = document.createElement('script');

          //Sincroniza com o callback.
          script.src = 'https://viacep.com.br/ws/' + cep + '/json/?callback=meu_callback';

          //Insere script no documento e carrega o conteúdo.
          document.body.appendChild(script);

        } //end if.
        else {
          //cep é inválido.
          limpa_formulário_cep();
          alert("Formato de CEP inválido.");
        }
      } //end if.
      else {
        //cep sem valor, limpa formulário.
        limpa_formulário_cep();
      }
    };
  </script>
</body>

</html>