{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/style/usuario.css' %}" />
    <script src="https://kit.fontawesome.com/0f251f1c56.js" crossorigin="anonymous"></script>
    <title>GoalZone</title>
</head>

<body>
    <div class="container">
        <!--adicionar botão para esse ícone-->
        <div class="btn_off">
            <button class="button-off" onclick="sair()">
                <i class="fas fa-power-off"></i>
            </button>
        </div>

        <div class="main">
            <div class="menu">
                <div class="info_user">
                    <div class="row">
                        <i class="fas fa-user-circle"></i>
                        <p class="p_style" id="titleName">GoalZone</p>
                    </div>
                    <a href="{% static '/file/data_IA_tratado.csv' %}" download="base_com_previsao.csv">
                        <button id="download-file">Download do Arquivo</button>
                    </a>
                </div>
            </div>

            <div class="main_user">
                <div class="info">
                    <h2 class="title zerar">Indicadores gerais</h2>
                    <p class="p_style zerar">gestão de alunos</p>
                </div>

              

                <div class="graficos">
                    <div class="formatacao">
                        <div id="grafico1 grafico">
                            <canvas id="myBarChart" width="400" height="400"></canvas>
                        </div>

                        <div id="grafico1 grafico">
                            <canvas id="myPieChart" width="400" height="400"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-icon" id="chat-icon"></div>

        <div class="chat-container" id="chat-container">
            <div class="chat-header">
                <i class="far fa-user-circle"></i>
                <h2 class="h2-chat"> FitBot</h2>
                <span class="close-button" id="close-button">&times;</span>
            </div>
            <div class="chat-body" id="chat-body">
                <div class="message received">
                    <p>Bem vindo(a) ao FitInsights!</p>
                    <p>Estou aqui para te ajudar e fornecer análises específicas
                        sobre sua base de dados.
                    </p>
                    <p>Como posso ajudar você hoje?</p>
                </div>

                <div class="chat-footer">
                    <p>Você pode me fazer as seguintes perguntas:</p>
                    <button class="question-buttons-container">Me diga as aulas que mais atendemos alunos.</button>
                    <button class="question-buttons-container">Me diga os dias da semana que mais faltam
                        alunos.</button>
                    <button class="question-buttons-container">Me diga qual horário e dia da semana há um fluxo maior de
                        alunos.</button>
                    <button class="question-buttons-container">Quero fazer outra pergunta..</button>
                </div>
            </div>
            <a href="{% url 'usuario' %}">Link</a>

        </div>
    </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/chat.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="js/signup.js"></script>

    <script>
        const urlComPrevisao = 'http://127.0.0.1:8000/api/basecomprevisao/';
        const urlSemPrevisao = 'http://127.0.0.1:8000/api/minhamodel/'

        fetch(urlSemPrevisao)
            .then(response => response.json())
            .then(data => {

                // Contagem de categorias
                const categoriaCount = {};

                data.forEach(coluna => {
                    categoriaCount[coluna.category] = (categoriaCount[coluna.category] || 0) + 1;
                });

                // Separar os dados em arrays de categorias e contagem
                const categorias = Object.keys(categoriaCount);
                const contagens = Object.values(categoriaCount);

                // Configurações do gráfico
                const options = {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        x: {
                            beginAtZero: true
                        },
                        y: {
                            beginAtZero: true
                        }
                    }
                };

                // Obter o contexto do canvas
                const ctx = document.getElementById('myBarChart').getContext('2d');

                // Criar o gráfico de barras
                const myBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: categorias,
                        datasets: [{
                            label: 'Contagem por Categoria',
                            data: contagens,
                            backgroundColor: 'rgb(75, 100, 192)',
                            borderColor: 'rgba(75, 192, 192, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: options
                });
            })
            .catch(error => {
                console.error('Erro ao obter dados do endpoint:', error);
            });

        fetch(urlComPrevisao)
            .then(response => response.json())
            .then(data => {

                // Contagem de attended
                const attendedCount = {
                    true: 0,
                    false: 0
                };

                data.forEach(coluna => {
                    attendedCount[coluna.attended] = (attendedCount[coluna.attended] || 0) + 1;
                });

                // Separar os dados em arrays de labels e contagem
                const labels = Object.keys(attendedCount);
                const contagens = Object.values(attendedCount);

                // Gerar cores aleatórias para cada fatia
                const cores = labels.map(() => getRandomColor());

                // Configurações do gráfico
                const options = {
                    responsive: true,
                    maintainAspectRatio: false
                };

                // Obter o contexto do canvas
                const ctx = document.getElementById('myPieChart').getContext('2d');

                // Criar o gráfico de pizza
                const myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: labels,
                        datasets: [{
                            data: contagens,
                            backgroundColor: cores
                        }]
                    },
                    options: options
                });
            })
            .catch(error => {
                console.error('Erro ao obter dados do endpoint:', error);
            });

        // Função para gerar cores aleatórias
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>

</body>

</html>