@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Lato&family=Montserrat:wght@400;700&family=Poppins:wght@700&family=Varela+Round&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #1B0064;
    width: 100%;
    height: 600px;
}

h1{
    font-family: 'Montserrat';
}

.container{
    margin-top: 5%;
    text-align: center;
}

/* Estilização básica */
input[type="file"] {
    background-color: #f0f0f0;
    border: 1px solid #1B0064;
    padding: 10px;
    border-radius: 5px;
}

/* Estilização do botão */
input[type="file"]::-webkit-file-upload-button {
    background-color: #1B0064;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

p{
    font-size: 8px;
}
